@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
:root {
  --primary: rgb(231, 224, 201);
  --secondary: rgb(193, 207, 192);
  --third: rgb(107, 122, 161);
  --fourth: rgb(17, 50, 77);
}
body,
html {
  background-color: var(--primary);
  color: var(--fourth);
}

.container {
  border: 2px solid var(--fourth);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 40vmax;
  background: var(--third);
  min-height: 90vmin;
  margin: 3vh auto;
  padding: 1vh 5vw;
  min-height: 100%;
}
.container h1 {
  padding: 1.5rem 0;
  color: var(--fourth);
  text-align: center;
}
.container .input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vmax 0;
}
.container label {
  padding: 0.4rem 0;
  font-weight: 600;
}
.container input {
  margin: 0.3rem 0;
  min-width: 40%;
  border-radius: 0.5rem;
  border: 2px solid var(--primary-clr);
  padding: 0.4rem 1rem;
  outline: none;
}
.error-msg {
  text-align: center;
}
.btn {
  width: 40%;
  margin: 2rem auto;
  border: var(--secondary) 1px solid;
  border-radius: 0.8rem;
  padding: 0.5rem 0.1rem;
  background: var(--fourth);
  cursor: pointer;
  color: var(--primary);
}
.calculate-btn {
  margin: 2rem auto;
}
.btn-check {
  margin: 0.3rem auto;
}
.output-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: 250px;
  overflow-x: auto;
}
.output-container table {
  margin: 1.5rem 0;
  border-collapse: collapse;
  background: var(--primary);
  /* color: var(--primary); */
}
.output-container table caption {
  font-size: 1.5rem;
  padding: 0.8rem 0;
  font-weight: 700;
}
.output-container table,
td,
tr,
th {
  text-align: center;
  padding: 0.5rem;
  border: 2px solid var(--fourth);
}

th td {
  word-wrap: break-word;
}
.footer-list {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  list-style: none;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
}
li {
  font-size: 2rem;
}
li > a {
  color: var(--fourth);
}
/* @media (max-width: 767.98px) {
  .container button {
    width: 100%;
  }
  .container {
    width: 100%;
  }
} */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px red;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px var();
} */
